<div class="container">
  <app-toolbar (onRestock)="handleRestock()"></app-toolbar>
</div>
<main>
  <app-summary-screen [summary]="summary$ | async"></app-summary-screen>
  <div>
    <app-vending-button-list (onSelection)="handleSelection($event)" [items]="vendingItems$ | async"
      [selectedItem]="selectedItem$ | async">
    </app-vending-button-list>
    <div class="p-3">
      <app-selection-screen [selectedItem]="selectedItem$ | async"></app-selection-screen>
    </div>
    <div class="p-3">
      <app-checkout [isDisabled]="!(isItemSelected | async)" (onCheckout)="handleCheckout($event)"></app-checkout>
    </div>
  </div>
</main>
