.restock {
  &__close-btn {
    background-color: $accent;
    width: 2rem;
    height: 2rem;
  }
  &__table-header {
    background-color: $accent;
    padding: 0.5rem 0rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  &__data {
    margin-bottom: 1rem;
  }
}
