.vending-button {
  width: 100%;
  min-height: 100px;
  height: 100%;
  position: relative;
  border: 1px solid #f3f3f3;
  background-color: rgba(#f8f8f8, 0.1);
  &.selected,
  &:hover {
    background-color: rgba(#bd1340, 0.3);
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(2px);
  }
  &__price {
    position: absolute;
    top: 0;
    right: 0;
  }
}
